body {
    background: pink;
    font-family: Georgia;
  }
#title {
  font-family: 'Cute', sans-serif;
  font-size: xx-large;
}
#caption {
  font-size: small;
}
#imagesource {
  font-size: smaller;
}
#button {
  background-color: darkviolet;
  color:deeppink;
  border-color: darkviolet;
}
.center {
  text-align: center;
  border: 3px solid plum;
  margin-center: 10px;
}
div {
  margin-top: 10px;
  margin-bottom: 10px;
}
